.item{
    cursor: pointer;
    display: flex;
    background-color: #eee;
    padding: 10px;
    border-radius: 10px;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    margin: 0 auto;
    margin-bottom: 10px;

}

.img{
    height: 30px;
    width: 60px;
    object-fit: cover;
    object-position: center;
}