.modalBG{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.modalCard {
    width: 50%;
    background-color: #eee;
    padding: 20px;
    border-radius: 10px;
    display: flex;
}